/* Variables Globales*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nerko One', cursive;
}

ul {
  list-style: none;
}
ul a {
  color: white;
  font-size: 1.5rem;
}
a {
  padding: 1rem 0.5rem;
  text-decoration: none;
  color: white;
}
a:hover {
  color: #e84393;
  background: white;
  border-radius: 1rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2rem;
}

/* NAVBAR */
header {
  background: #fd79a8;
  color: rgb(249, 243, 243);
  position: sticky;
  top: 0px;
  z-index: 3;
  border-radius: 3rem;
  width: 90%;
  margin: auto;
}
nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
}
nav h1 {
  flex: 1 2 30rem;
}
nav ul {
  list-style: none;
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}

/* PAGE ACCUEIL */

#premiere-partie,
#deuxieme-partie {
  width: 90%;
  margin: auto;
  min-height: calc(90vh);
  color: #e84393;
  display: flex;
  flex-wrap: wrap;
}

#premiere-partie img,
#deuxieme-partie img {
  margin-top: 5rem;
  flex: 1 1 20rem;
  border-radius: 50%;
}
.accueil-texte {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-self: center;
  flex: 1 1 20rem;
}
.accueil-texte button {
  color: white;
  background: #fd79a8;
  width: 20rem;
  margin: 2rem;
  padding: 2rem;
  font-size: 2rem;
  border-radius: 2rem;
  align-self: center;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.accueil-texte button:hover {
  color: #fd79a8;
  background: white;
  width: 20rem;
  margin: 2rem;
  padding: 2rem;
  font-size: 2rem;
  border-radius: 2rem;
  align-self: center;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  transform: scale(1.2);
  cursor: pointer;
}
.accueil-texte h3 {
  padding-top: 2rem;
}
#image {
  padding-right: 2rem;
}

/* FOOTER */
footer {
  margin: 4rem;
  background: #fd79a8;
  border-radius: 3rem;
  color: white;
  text-decoration: none;
}
#footer {
  display: flex;
  justify-content: space-evenly;
}
footer ul {
  list-style: none;
  padding: 2rem;
}
footer a {
  font-size: 1.2rem;
}

/* // Swan page contact*/

.formulaireInput{
    display: flex;
    flex-direction: column;
    background-color: #fd79a8;
    width: 100%;
    height: 120%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.formulaireInput p{
    font-size: 2.5rem;
    color: white;
    font-family: 'Nerko One', cursive;
}
.formulaireInput div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

input{
    width: 30rem;
    height: 3rem;
    border-radius: 8px;
}
#description{
    width: 30rem;
    height: 15rem;
    border-radius: 8px;
}

div img{
    width: 3rem;
    height: 3rem;
    margin: 8px;
}

.ChoixDonut{
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 1895px;
}

.ChoixDonut p{
    font-size:  20px;
    color: whitesmoke;
}
.ChoixDonut input{
    width: 2rem;
    height: 2rem;
}
.ChoixDonut div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button{
    width: 13rem;
    height: 5rem;
    background-color: whitesmoke;
    transition: all 0.2s ease-in-out;
    
    
}

button:hover{
    background-color: #fca8c6;
    border-radius: 11px;
    cursor: pointer;
}
/* realisation by KArim */

.bgrealisation {
    background-image: url(src/Images/shopbg.jfif);
}
#realisation {
    height: 200px;
    background-color:#fd79a8 ;
    background-image: url(src/Images/headerRealisation.jpeg);
    border: 1px solid #fd79a8;
    width: 40%;
    margin: 0px auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  #realisation h1{
    font-size: 100px;
    color:#e84393;
    text-shadow: -2px 0 black, 0 4px black,
      4px 0 black, 0 -2px black;
    text-align: center
    
  }

.container {
    display: flex;
     flex-wrap:wrap;
     justify-content: space-around;
     padding: 5px;
     
}


.container .item {
    margin: 5px;
    height: 300px;
    width: 300px;
    
}

