/* Variables Globales*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nerko One', cursive;
}

ul {
  list-style: none;
}
ul a {
  color: white;
  font-size: 1.5rem;
}
a {
  padding: 1rem 0.5rem;
  text-decoration: none;
  color: white;
}
a:hover {
  color: #7115e1;
  background: white;
  border-radius: 1rem;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 1.6rem;
}
p {
  font-size: 1.2rem;
  line-height: 2;
}

/* NAVBAR */
header {
  background: #fd79a8;
  color: rgb(249, 243, 243);
  position: sticky;
  top: 0px;
  z-index: 3;
  border-radius: 3rem;
  width: 90%;
  margin: 2rem auto;
}
nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem 0rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
}
nav h1 {
  flex: 1 1 20rem;
}
nav ul {
  list-style: none;
  display: flex;
  flex: 1 1 35rem;
  justify-content: space-between;
  align-items: center;
}
nav ul li a {
  font-size: 1.2rem;
}

/* PAGE ACCUEIL */

#premiere-partie {
  width: 90%;
    margin: auto;
    min-height: calc(90vh);
    color: #e84393;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
#deuxieme-partie
 {
  width: 90%;
    margin: auto;
    min-height: calc(90vh);
    color: #e84393;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


#premiere-partie img,
#deuxieme-partie img {
  margin-top: 5rem;
  flex: 1 1 20rem;
  border-radius: 50%;
}
.accueil-texte {
  display:flex;
  flex-direction: column;
  height: 100%;
  align-self: center;
  flex: 1 1 20rem;
}
.button,
button {
  color: white;
  background: #fd79a8;
  width: 20rem;
  margin: 2rem;
  padding: 2rem;
  font-size: 2rem;
  border-radius: 2rem;
  align-self: center;
  text-align: center;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.button:hover,
button:hover {
  color: #fd79a8;
  background: white;
  width: 20rem;
  margin: 2rem;
  padding: 2rem;
  font-size: 2rem;
  border-radius: 2rem;
  align-self: center;
  text-align: center;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  transform: scale(1.1);
  border: 2px solid #fd79a8;
  cursor: pointer;
}
.accueil-texte h3 {
  padding-top: 1.6rem;
}
/* #image {
  padding-right: 0rem;
} */

/* FOOTER */
footer {
  margin: 4rem;
  background: #fd79a8;
  border-radius: 3rem;
  color: white;
  text-decoration: none;
}
#footer {
  display: flex;
  justify-content: space-evenly;
}
footer ul {
  list-style: none;
  padding: 2rem;
}
footer a {
  font-size: 1.2rem;
}

/* // Swan page contact*/

.formulaireInput {
  display: flex;
  flex-direction: column;
  background-color: #fd79a8;
  width: 100%;
  height: 120%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.formulaireInput p {
  font-size: 2.5rem;
  color: white;
  font-family: 'Nerko One', cursive;
}
.formulaireInput div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

input {
  width: 30rem;
  height: 3rem;
  border-radius: 8px;
}
#description {
  width: 30rem;
  height: 15rem;
  border-radius: 8px;
}

.formulaireInput img {
  width: 3rem;
  height: 3rem;
  margin: 8px;
}

.ChoixDonut {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1rem;
  margin-bottom: 25px;
}

.ChoixDonut p {
  font-size: 20px;
  color: whitesmoke;
}
.ChoixDonut input {
  width: 2rem;
  height: 2rem;
}
.ChoixDonut div {
  flex: 1 1 2rem;
  display: flex;
  flex-direction: column;
}

/* realisation by KArim */

.bgrealisation {
  background-image: url(./src/Images/shopbg.jpeg);
}
#realisation {
  margin: auto;
  min-height: 10rem;
  opacity: 0.9;
  filter: blur(1px);
  background: url(./src/Images/headerRealisation.jpeg) no-repeat center / cover;
  border: 0.3rem solid #fd79a8;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#realisation h1 {
  font-size: 6rem;
  color: #fd79a8;
  text-shadow: -0.12rem 0 black, 0 0.25rem black, 0.25rem 0 black, 0 -0.12rem black;
  text-align: center;
}

.container_galerie {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.3rem;
}

.container_galerie .item {
  margin: 0.3rem;
  height: 20rem;
  width: 20rem;
  border-radius: 2rem;
}

/* TEAMPAGE By NAIMA */

.teampage {
  text-align: center;
  color: #fd79a8;
}
.team-member {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 1.25rem;
}

.member {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
}

.member p {
  font-size: 1.4rem;
  line-height: 2;
  color: #7115e1;
  width: 50vw;
  padding: 4rem 0;
}

.team-member img {
  width: 20rem;
  border-radius: 50%;
  padding-right: 2rem;
}

.team {
  text-align: center;
  background-color: #fd79a8;
  color: #ffffff;
  padding-bottom: 5rem;
  padding-top: 5rem;
  margin: 0;
}

#text-team {
  width: 90%;
  margin: 0 auto;
  font-size: 1.4rem;
  line-height: 2;
  color: #7115e1;
  text-align: center;
}

/* Media Queries */

@media screen and (max-width: 1400px) {
}
